<div class="container work-header-container">
  <h2>Work</h2>
</div>

<section class="work-articles carousel slide">
  <div class="carousel-inner">
  <% page_articles.each_with_index do |article, i| %>
    <article class="work-article item">

        <div class="work-media-well" style="background-image:url(<%= article.data.media_well %>)">
          <div class="loading" style="display:none" data-scroll-stream-loading>
            Loading...
          </div>
        </div>

        <div class="work-article-container">

          <div class="container">
            <header class="article-header">
              <h2><%= article.title %></h2>
              <h3><%= article.data.tags %></h3>
              <p><%= article.data.description %></p>
            </header>
          </div>

          <div class="container">
            <div class="article-body">
              <%= article.body %>
            </div>
          </div>
        </div>

    </article>
  <% end %>
  </div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</section>

