

<div class="work-container container">

  <h2>Shots</h2>
  <h3>works in progress, photography, and other misc work</h3>

  <div class="work-articles">
    <% blog.articles.take(24).each_with_index do |article, i| %>

      <div class="work-article" data-mockup-preview-title="<%=article.data.title%> <small><%=article.data.tags%></small>" id="work-article-<%=article.slug%>">
        <div class="work-article-target">
          <div class="img-container"><%= image_tag article.data.preview_url %></div>

          <div class="caption-container">
            <div class="caption">
              <% if article.data.icon_class %>
                <i class="work-article-icon <%= article.data.icon_class %>"> </i>
              <% end %>

              <h3 class="title"><%= article.data.title %></h3>
              <p class="tags"><%= article.data.tags %></p>
            </div>
          </div>
        </div>

        <div data-preview-for="#<%= "work-article-#{article.slug}"%>" class="mockup-preview-container">
          <div class="mockup-preview">
            <div class="mockup-preview-inner">
              <div class="container">
                <% if !article.body || article.body.length <= 3 %>
                  <img src="<%= article.data.preview_large_url || article.data.large_url %>">
                <% else %>
                  <%= article.body %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    <% end %>
  </div>

</div>


<nav class="mockup-preview-controls navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="mockup-preview-controls-header navbar-brand hidden-xs" data-mockup-preview-title></div>

    <ul class="nav navbar-nav navbar-left">
      <li><a class="btn btn-default navbar-btn" target="_blank" data-mockup-preview-link>View</a></li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-primary navbar-btn next" data-mockup-preview-next>Next <i class="icon icon-right-open"> </i></a></li>
      <li><a class="close" href="#" data-mockup-preview-close>×</a></li>
    </ul>

    <ul class="nav navbar-nav preview-controls navbar-right hidden-xs hidden-sm" data-mockup-preview-items="li"></ul>   
  </div>
</nav>
