---
title: Web, Film, &amp; Motion
pageable: false
per_page: 10
---

<section id="welcome-wrapper">
  <%= partial "sections/welcome" %>
</section>

<section id="callout-wrapper">
  <%= partial "sections/callout" %>
</section>

<section id="about-wrapper">
  <%= partial "sections/about" %>
</section>

<section id="work-wrapper">
  <%= partial "sections/work" %>
</section>

<section id="footer-wrapper">
  <%= partial "sections/footer" %>
</section>